PORT=3001

DB_HOST=db.yioipunilvwxhfilpwyy.supabase.co
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=

FRONTEND_URL=http://localhost:5173

SUPABASE_URL=
SUPABASE_SERVICE_KEY=

ADMIN_USERNAME=
ADMIN_PASSWORD=
JWT_SECRET=

# Email untuk kirim OTP (Gmail)
# Gunakan App Password, bukan password Gmail biasa
# Cara buat: myaccount.google.com → Security → 2-Step Verification → App passwords
EMAIL_USER=emailkamu@gmail.com
EMAIL_APP_PASSWORD=xxxx xxxx xxxx xxxx
ADMIN_EMAIL=emailkamu@gmail.com
